<div class="pod pod_event pod_right hover-effect hover-effect_1_1 reveal-effect reveal-effect_visible">
				<div class="hover-effect--overlay"></div>
			
				<div class="pod-content">
					<h3 class="pod-title">Card Members</h3>
			
					<div class="event-name">Can enjoy early access to tickets</div>
			
					<a title="See Events" class="button-link" href="https://www295.americanexpress.com/entertainmentaccess/home.do?linknav=us-unstaged-dc-multiple-ehub" target="_blank">See Events</a>
				</div>
			</div>