  <div class="pod pod_photos pod_right reveal-effect zoom-effect--container reveal-effect_visible" data-pod-type="photos" data-artist-id="raesremmurd" data-pod-swipe="">
         <img class="pod-background-image zoom-effect transition prev" src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/artists/deadandcompany/Dead-Company-1x1.jpg" alt="Sugarland" data-pod-animate=""><img class="pod-background-image zoom-effect transition current" src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/artists/raesremmurd/Rae-Sremmurd-Promo-1x1.jpg" alt="Sugarland" data-pod-animate="">
         <div class="dark-fade dark-fade_top_left"></div>
         <div class="dark-fade dark-fade_bottom_right"></div>
         <a class="pod-content" href="./artists/rae-sremmurd/" title="Select to explore artist" data-link="" data-tracking-rmaction="DCPPhotos">
            <h3 class="pod-title opacity transition prev" data-pod-animate="" data-artist-name="">Dead &amp; Company</h3>
            <h3 class="pod-title opacity transition current" data-pod-animate="" data-artist-name="">Rae Sremmurd</h3>
            <span class="pod-icon icon icon-star-circle"></span>
         </a>
         <a title="Select to see the previous photo" class="pod-arrow pod-arrow_left icon icon-thin_left_arrow pod-arrow_active" href="#"></a>
         <a title="Select to see the next photo" class="pod-arrow pod-arrow_right icon icon-thin_right_arrow pod-arrow_active" href="#"></a>
      </div>