<div class="artist-highlight artist-highlight_unstaged module-margin">
	<div class="background-media-container background-media-module js-module" data-module-name="BackgroundMediaModule">
		<div class="media-item js-media-image js-desktop-default media-item_is_mobile_default media-item_is_visible" style="background-image: url("${prperties.imagePath}");" data-image="" data-artist-id="taylorswift" data-async-image="${properties.imagePath}" data-video-url="${properties.videoUrl}" data-yt-id="e-ORhEE9VVg"></div>


						<video class="media-item" muted="muted" preload="none" data-video="" data-artist-id="taylorswift">
									<source src="${properties.ogvVideoPath}" type="video/ogg">
						</video>
				</div>
				
				<div class="toggle-background-loop--container block-container-inner" data-toggle-background-loop-elem="">
					<div class="toggle-background-loop" data-toggle-background-loop="" style="">
						<a title="Select to pause video" class="pause-button" href="#"><span class="icon icon-pause"></span> pause</a>
					</div>
				</div>
	
				<div class="artist-highlight--content">
					<h2 class="title title_centered"><em>${properties.videoTitle}</em> <span class="subtitle">
						${properties.videoSubTitle}
					</span></h2>
	
						<a href="#" title="Select to play video" class="play-link artist-play-link js-modal-youtube" data-video-id="e-ORhEE9VVg" data-playlist-artist="taylorswift" data-playlist-artist-type="unstaged"><span class="icon icon-play"></span></a>
					
					<a title="Select to read more about the artist" class="button-link hover-effect hover-effect_16_9" href="https://www.amexunstaged.com/artists/taylor-swift/">
						<span class="hover-effect--overlay"></span>
						<span class="hover-effect--content">Explore Artist</span>
					</a>
				</div>
	
			</div>