<a title="${properties.title}" class="artist-wrapper zoom-effect--container" href="${properties.linkpath}">
		
					<span class="artist-image zoom-effect" style="background-image: url(${properties.image @context ='attribute' })"></span>
		
					<span class="dark-fade dark-fade_bottom_left"></span>
					<span class="dark-fade dark-fade_bottom_right"></span>
		
					<span class="name title"><em>${properties.artistname}</em></span>
					<span class="view-profile">${properties.linktext}<span class="icon icon-thin_right_arrow"></span></span>
				</a>
               