<div class="pods-module block-container-inner module-margin clearfix js-module" data-module-name="PodsModule">
	
		<div class="pods-container pods-container_left">
				<div class="pod pod_album pod_photos pod_left reveal-effect zoom-effect--container" data-pod-type="albums" data-artist-id="elliegoulding" data-pod-swipe>
			
					<img class="pod-background-image zoom-effect" src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/artists/elliegoulding/album_art.jpg" alt="Ellie Goulding" data-pod-animate>
			
					<div class="album-overlay"></div>
					<div class="pod-content" data-link>
			
						<h3 class="pod-title opacity" data-pod-animate data-artist-name>Ellie Goulding</h3>
						<div class="pod-subtitle album-title opacity" data-pod-animate data-artist-title>Delirium</div>
			
						<div class="store-link--container">
							<a
								class="store-link store-link_google-play js-store-google"
								href="http://amex.co/1jMaxNH"
								title="Buy this album on Google Play"
								data-multiple-page-tracking="true"
								data-tracking-rmaction-original="Google"
								data-tracking-rmaction="elliegouldingGoogle"
								target="_blank"
							>
								<img src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/images/badge_google-play-dark.jpg" alt="Google Play" />
							</a>
							<a
								class="store-link store-link_itunes js-store-itunes"
								href="http://geni.us/Lmc"
								title="Buy this album on iTunes"
								data-multiple-page-tracking="true"
								data-tracking-rmaction-original="Itunes"
								data-tracking-rmaction="elliegouldingItunes"
								target="_blank"
							>
								<img src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/images/badge_itunes-dark.jpg" alt="iTunes" />
							</a>
						</div>
			
						<span class="pod-icon icon icon-music-purchase"></span>
					</div>
			
					<a title="Select to see the previous photo" class="pod-arrow pod-arrow_left icon icon-thin_left_arrow" href="#"></a>
					<a title="Select to see the next photo" class="pod-arrow pod-arrow_right icon icon-thin_right_arrow" href="#"></a>
				</div>
				<div class="pod pod_photos pod_right reveal-effect zoom-effect--container" data-pod-type="photos" data-artist-id="sugarland" data-pod-swipe>
			
					<img class="pod-background-image zoom-effect" src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/artists/sugarland/Sugarland-already-gone-1x1.jpg" alt="Sugarland" data-pod-animate>
			
					<div class="dark-fade dark-fade_top_left"></div>
					<div class="dark-fade dark-fade_bottom_right"></div>
			
					<a class="pod-content" href="./artists/sugarland/" title="Select to explore artist" data-link data-tracking-rmaction="DCPPhotos">
						<h3 class="pod-title opacity" data-pod-animate data-artist-name>Sugarland</h3>
			
						<span class="pod-icon icon icon-star-circle"></span>
					</a>
			
					<a title="Select to see the previous photo" class="pod-arrow pod-arrow_left icon icon-thin_left_arrow" href="#"></a>
					<a title="Select to see the next photo" class="pod-arrow pod-arrow_right icon icon-thin_right_arrow" href="#"></a>
				</div>
				<div class="pod pod_photos pod_left reveal-effect zoom-effect--container" data-pod-type="photos" data-artist-id="usher" data-pod-swipe>
			
					<img class="pod-background-image zoom-effect" src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/artists/usher/Usher-Burn-1x1.jpg" alt="Usher" data-pod-animate>
			
					<div class="dark-fade dark-fade_top_left"></div>
					<div class="dark-fade dark-fade_bottom_right"></div>
			
					<a class="pod-content" href="./artists/usher/" title="Select to explore artist" data-link data-tracking-rmaction="DCPPhotos">
						<h3 class="pod-title opacity" data-pod-animate data-artist-name>Usher</h3>
			
						<span class="pod-icon icon icon-star-circle"></span>
					</a>
			
					<a title="Select to see the previous photo" class="pod-arrow pod-arrow_left icon icon-thin_left_arrow" href="#"></a>
					<a title="Select to see the next photo" class="pod-arrow pod-arrow_right icon icon-thin_right_arrow" href="#"></a>
				</div>
			<div class="pod pod_event pod_right hover-effect hover-effect_1_1 reveal-effect">
				<div class="hover-effect--overlay"></div>
			
				<div class="pod-content">
					<h3 class="pod-title">Card Members</h3>
			
					<div class="event-name">Can enjoy early access to tickets</div>
			
					<a
						title="See Events"
						class="button-link"
						href="https://www295.americanexpress.com/entertainmentaccess/home.do?linknav=us-unstaged-dc-multiple-ehub"
						target="_blank"
					>See Events</a>
				</div>
			</div>
		</div>
	
		<div class="pods-container pods-container_right">
				<div class="pod pod_full pod_full_upper pod_video reveal-effect zoom-effect--container" data-pod-type="videos" data-artist-id="taylorswift" data-image-type="16x9" data-pod-swipe>
			
					<img class="pod-background-image zoom-effect" src="https://4ea8dc00e37ec33660d4-5ca2d92f73123ec0f1c4905a63dfd3bf.ssl.cf1.rackcdn.com/assets/artists/taylorswift/16x9/Taylor-Swift-Blank-Space-16x9.jpg" alt="Blank Space" data-pod-animate>
			
					<div class="dark-fade dark-fade_bottom_left"></div>
					<div class="dark-fade dark-fade_bottom_right"></div>
			
			
					<a class="pod-content" title="Select to play video" href="https://youtube.com/watch?v=e-ORhEE9VVg" data-link data-video-play>
						<span class="pod-title opacity" data-pod-animate>
							<span data-artist-name>Taylor Swift</span>
							<span class="pod-subtitle" data-video-title>Blank Space</span>
						</span>
			
						<span class="pod-icon icon icon-play"></span>
					</a>
			
					<a title="Select to see the previous video" class="pod-arrow pod-arrow_left icon icon-thin_left_arrow" href="#"></a>
					<a title="Select to see the next video" class="pod-arrow pod-arrow_right icon icon-thin_right_arrow" href="#"></a>
			
				</div>
			<div class="pod pod_full pod_full_lower pod_tweet reveal-effect">
			
				<div class="pod-content">
			
					<span title="Twitter" class="pod-icon icon icon-twitter-circle"></span>
			
					<div class="tweet-container">
						<div class="tweet-header">
							<span class="tweet-header--user">@<span data-username>AmericanExpress</span data-username></span>
							<span class="tweet-header--time" data-time></span>
						</div>
			
						<p class="tweet-content" data-text-content>
							Watching Artists In Residence - A New Series from AMerican Express UNSTAGED on <em>#AmexUNSTAGED</em> <em>@AmericanExpress</em> http://bit.ly/asHjde
						</p>
					</div>
				</div>
			</div>	</div>
	</div>