<div class="about-module about-module_home about-module--background about-module--background_wide block-container-inner">
		<h1 class="title title_centered">${properties.welcometitle}</h1>
	
		<p class="text">
			${properties.welcomedescription @context='html'}
            </p>
	
		<div class="footer">
			<span class="partnership">${properties.parternershiptitle} <img src="${properties.partnershipimage}" alt="${properties.parternershipalttext}"></span>
			<span class="journey">${properties.journeytitle} <img src="${properties.journeyimage}" alt="${properties.journeyalttext}"></span>
		</div>
	</div>





